#  1. Basics

## 1.1.  The interpreter

In [1]:
3+1

4

In [2]:
3*3

9

In [3]:
2**3

8

In [8]:
"Hello, World!"

'Hello, World!'

## 1.2. Scripts
When run the code python script1.py, it will run and do the calculations yet will not show up, so we need to use them inside of print().

In [9]:
print(3+1)
print(3*3)
print(2**3)
print("Hello, World!")

4
9
8
Hello, World!

# 1.3.  More interpreter

In [1]:
'py'+'thon' # adds two string to each other

'python'

In [2]:
'py'*3+'thon' # multiplies the first string with 3 which makes 'py' to 'pypypy' and combines with second string

'pypypython'

In [3]:
'py'-'py' # it's not a possible statement, we cant abstract two string with '-' operator

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [4]:
'3'+3 # we cant add a string type of variable with integer type of variable

TypeError: can only concatenate str (not "int") to str

In [5]:
3*'3' # multiplies the string with 3 which makes another string

'333'

In [6]:
a # since a is not defined, it throws error

NameError: name 'a' is not defined

In [7]:
a = 3 # var a defined as integer 3

In [8]:
a # since it defined it doesn't give error

3

## 1.4. Booleans

In [9]:
1 == 1 # '==' operator checks equality since 1 equals 1 it returns True

True

In [35]:
1 == True # 1 also represents True

True

In [11]:
0 == True # 0 represents False so it returns False

False

In [12]:
0 == False # 0 represents False so it returns True

True

In [13]:
3 == 1*3 # 1 * 3 equals to 3 so it returns True

True

In [14]:
(3 == 1)*3 # 3==1 returns False which is 0 and 0 * 3 equals 0

0

In [15]:
 (3 == 3)*4 + 3 == 1 # 3==3 equals True which is 1, 1*4 equals 4, 4+3 equals 7, 7==1 is False so it returns False

False

In [16]:
3**5 >= 4**4 # '>=' operator means greater or equal. 3^5 which is 243 is not greater or equal than 4^4 which is 256 so False

False

## 1.5 Integers

In [17]:
5/3 # '/' operator does dividing operation since 5/3 is not a integer it return a float type of variable

1.6666666666666667

In [18]:
5%3 # '%' operator shows remaining after a divinding operation

2

In [19]:
5.0/3 # float type of variable can divide by an integer type of variable

1.6666666666666667

In [20]:
5/3.0 # integer type of variable can divide by an float type of variable

1.6666666666666667

In [21]:
5.2 % 3 # '%' operator can work on integer and float type of variables

2.2

In [22]:
2001 ** 200 # '**' operator does exponentiation operation

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

## 1.6 Floats

In [7]:
print(2000.3 ** 200) # limit of float numbers is 1.7976931348623157e+308 since the result is greater it throws an error

OverflowError: (34, 'Result too large')

In [2]:
1.0+ 1.0 - 1.0 # it adds 1.0 to 1.0 the substracts 1.0 and returns 1.0

1.0

In [6]:
 1.0+ 1.0e20 - 1.0e20 # it adds 1.0e20 to 1.0 this makes 1.0e20 to round down so substracting 1.0e20 returns 0.0

0.0

## 1.7. Variables

In [8]:
name = "Hakkı Can Akut"
print("Hello, "+ name)

Hello, Hakkı Can Akut

## 1.8. Type Casting

In [9]:
float(123) # returns integer 123 to float 123.0

123.0

In [11]:
float('123') # returns string '123' to float 123.0

123.0

In [13]:
float('123.23') # returns string '123.23' to float 123.23

123.23

In [18]:
 int(123.23) # returns float 123.23 to 123, it rounds down to 123

123

In [19]:
int('123.23') # it can't change a string that has float number to integer

ValueError: invalid literal for int() with base 10: '123.23'

In [20]:
int(float('123.23')) # this time, it changes string to float then changes to integer

123

In [21]:
 str(12) # changes integer 12 to string '12'

'12'

In [22]:
str(12.2) # changes float 12.2 to string '12.2'

'12.2'

In [32]:
bool('a') # it changes every variable except 0 or equivalent to True so 'a' changed to True

True

In [33]:
bool(0) # changes 0 to False

False

In [34]:
bool(0.1) # changed to True since it is not integer 0 or equivalent

True

# 2. Control Flow
## 2.1. Range

In [36]:
range(5) #  i in range(5) means integer i goes from 0 to 4 one by one

range(0, 5)

In [37]:
type(range(5))

range

## 2.2. For Loops

In [51]:
for i in range(101): 
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [40]:
for i in range(101):
    if i % 7 == 0:
        print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [41]:
for i in range(101):
    if i % 5 == 0 and i%3 != 0:
        print(i)

5
10
20
25
35
40
50
55
65
70
80
85
95
100

In [49]:
for i in range(21)[2:]:
    for k in range(i)[2:]:
        if i%k == 0:
            print(k)

2
2
3
2
4
3
2
5
2
3
4
6
2
7
3
5
2
4
8
2
3
6
9
2
4
5
10

## 2.3. Simple While Loops

In [52]:
j=0
while j<101:  
    print(j)
    j+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [52]:
j=0
while j<101:  
    if j% 7 == 0:
        print(j)
    j+=1

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

## 2.4. Hangman Update 1

## 2.5. While Loops

In [55]:
count=0;
i=1;
while count < 20:
    if i %5 == 0 and i % 7 ==0 and i % 11==0:
        print(i)
        count+=1
    i+=1

385
770
1155
1540
1925
2310
2695
3080
3465
3850
4235
4620
5005
5390
5775
6160
6545
6930
7315
7700

## 2.6. More While Loops

In [73]:
isDone = False
x=1
while isDone == False:
    isDivided = True
    for k in range(11)[1:]:
        if x % k !=0:
            isDivided = False
    if isDivided == True:
        print(x)
        isDone= True
    x+=1

2520

## 2.7. Collatz Sequence

In [50]:
def collatz_sequence(n):
    print(n)
    if n == 1:
        return
    if n % 2 == 0:
        return collatz_sequence(int(n/2))
    else:
        return collatz_sequence(int(3*n +1))
collatz_sequence(103)

103
310
155
466
233
700
350
175
526
263
790
395
1186
593
1780
890
445
1336
668
334
167
502
251
754
377
1132
566
283
850
425
1276
638
319
958
479
1438
719
2158
1079
3238
1619
4858
2429
7288
3644
1822
911
2734
1367
4102
2051
6154
3077
9232
4616
2308
1154
577
1732
866
433
1300
650
325
976
488
244
122
61
184
92
46
23
70
35
106
53
160
80
40
20
10
5
16
8
4
2
1

# 3. Functions
## 3.1. Hello

In [1]:
def hello_world():
    print("Hello, World!")
hello_world()

Hello, World!

In [4]:
def hello_name(name):
    print("Hello, "+name+"!")
hello_name("Hakkı")

Hello, Hakkı!

c) print directly writes the parameter on output, return is exits the function and returns the parameter

## 3.2. Polynomial

In [7]:
def polynomial(x):
    return 3*(x**2)-x+2
print(polynomial(3)) # 3 * 9 - 3 + 2 = 26

26

## 3.3. Maximum

In [9]:
def my_max(x,y):
    if x >= y:
        return x
    else:
        return y
print(my_max(3,4))

4

In [11]:
def my_max(x,y):
    if x >= y:
        return x
    return y
print(my_max(3,4))

4

## 3.4. Primes

In [19]:
def is_prime(n):
    for k in range(n)[1:]:
        if n%k==0:
            return True
    return False
print(is_prime(11))

True

In [21]:
def is_prime(n):
    if n == 2 or n==3 or (n+1) % 6 == 0 or (n-1) % 6==0:
        return True
    return False
print(is_prime(11))

True

In [26]:
def all_primes(n):
    ret = []
    for j in range(n+1)[2:]:
        if is_prime(j):
            ret.append(j)
    return ret
print(all_primes(11))

[2, 3, 5, 7, 11]

In [28]:
def n_primes(n):
    ret = []
    count=0
    j=2
    while count < n:
        if is_prime(j):
            ret.append(j)
            count +=1
        j+=1
    return ret
print(n_primes(7))

[2, 3, 5, 7, 11, 13, 17]

## 3.5. Root Finding

In [62]:
def f1(x):
    return 5*x**3 + 6*x**2 +x # f1 is cubic so always increasing this means a<b and f(a)<f(b)
def f2(x):
    return 2*x**2 + 6*x - 20 # for f2 f(a)<f(b) doesn't mean a<b, it could be 

def root(f, a, b):
    midpoint = int((a+b)/2) # it changes to int so it finds only integer roots
    x = f(midpoint)
    if x == 0:
        return midpoint
    if x < 0:
        return root(f, midpoint, b)
    return root(f, a , midpoint)
print(root(f1,-3,7)) # roots of f1 = {-1/5, -1, 0}
print(root(f2,1,-30)) # roots of f2 = {-5, 2}

0
-5

the root function that I write for a) , actually works for b) too as it shown in the previous section, so no need for further implementation

In [65]:
def f1(x):
    return 5*x**3 + 6*x**2 +x # f1 is cubic so always increasing this means a<b and f(a)<f(b)
def f2(x):
    return 2*x**2 + 6*x - 20 # for f2 f(a)<f(b) doesn't mean a<b, it could be 

def root(f, a, b):
    if (f(a)>0 and f(b)>0) or (f(a)<0 and f(b)<0):
        print("function evals have same sign")
        return
    midpoint = int((a+b)/2) # it changes to int so it finds only integer roots
    x = f(midpoint)
    if x == 0:
        return midpoint
    if x < 0:
        return root(f, midpoint, b)
    return root(f, a , midpoint)
print(root(f1,-3,7)) # roots of f1 = {-1/5, -1, 0}
print(root(f2,1,-30)) # roots of f2 = {-5, 2}
root(f2,30,-30)

0
-5
function evals have same sign